@import '../Variables/fonts';
@import '../Variables/theme.scss';

.header{
  padding-top: 16.8rem;

  .header__title{
    font-family: 'Airbnb Cereal App Medium';
    font-size: 2rem;
  }

  .header__subtitle{
    margin-top: 1rem;
    font-family: 'Airbnb Cereal App Book';
    font-size: 1.8rem;
    line-height: 1.4;
    opacity: 0.8;
  }
  
  .header__buttons{
    margin-top: 3.2rem;
    margin-bottom: 1rem;
  
    .header__buttons--button{
      font-size: 1.6rem;
      background-color: var(--theme-page-background-around);
      color: var(--theme-page-text);
      padding: 1rem 1.4rem;
      text-decoration: none;
      border-radius: 0.5rem;
      transition: 0.1s ease-in-out;
    }

    .header__buttons--button:hover{
      opacity: 0.6;
    }

    .header__buttons--button-margin{
      margin-left: 1.8rem;
    }
  }
}

@media screen and (max-width: 528px) {
  .header{
    padding-top: 8rem;
  }
}

@media screen and (max-width: 390px) {
  .header__buttons{
    display: flex;
    flex-wrap: wrap;
  }

  .header{
    .header__buttons{
      .header__buttons--button-margin{
        margin-left: 0rem;
        margin-top: 1.6rem;
      }
    }
  }

}

