@import '../Variables/fonts';

.header{
  margin-top: 16.8rem;

  .header__title{
    font-family: 'Airbnb Cereal App Medium';
    font-size: 2rem;
    color: white;
  }

  .header__subtitle{
    margin-top: 1rem;
    font-family: 'Airbnb Cereal App Book';
    font-size: 1.8rem;
    line-height: 1.4;
    color: white;
    opacity: 0.8;
  }
  
  .header__buttons{
    margin-top: 3.2rem;
    margin-bottom: 1rem;
  
    .header__buttons--button{
      font-family: Arial, Helvetica, sans-serif;
      font-size: 1.6rem;
      background-color: #474747;
      padding: 1rem 1.4rem;
      color: white;
      text-decoration: none;
      border-radius: 0.5rem;
      transition: 0.1s ease-in-out;
    }

    .header__buttons--button:hover{
      background-color: #5c5c5c;
    }

    .header__buttons--button-margin{
      margin-left: 1.8rem;
    }
  }
}

@media screen and (max-width: 528px) {
  .header{
    margin-top: 8rem;
  }
}

@media screen and (max-width: 390px) {
  .header__buttons{
    display: flex;
    flex-wrap: wrap;


  }
  .header{
    .header__buttons{
      .header__buttons--button-margin{
        margin-left: 0rem;
        margin-top: 1.6rem;
      }
    }
  }

}

