@font-face {
  font-family: 'Airbnb Cereal App Book';
  font-style: normal;
  font-weight: normal;
  src: url('../../Assets/Fonts/AirbnbCerealBook.woff') format('woff');
}

@font-face {
  font-family: 'Airbnb Cereal App Light';
  font-style: normal;
  font-weight: normal;
  src: url('../../Assets/Fonts/AirbnbCerealLight.woff') format('woff');
}

@font-face {
  font-family: 'Airbnb Cereal App Medium';
  font-style: normal;
  font-weight: normal;
  src: url('../../Assets/Fonts/AirbnbCerealMedium.woff') format('woff');
}

@font-face {
  font-family: 'Airbnb Cereal App Bold';
  font-style: normal;
  font-weight: normal;
  src: url('../../Assets/Fonts/AirbnbCerealBold.woff') format('woff');
}

@font-face {
  font-family: 'Airbnb Cereal App Extra Bold';
  font-style: normal;
  font-weight: normal;
  src: url('../../Assets/Fonts/AirbnbCerealExtraBold.woff') format('woff');
}

@font-face {
  font-family: 'Airbnb Cereal App Black';
  font-style: normal;
  font-weight: normal;
  src: url('../../Assets/Fonts/AirbnbCerealBlack.woff') format('woff');
}
